.content-hard {
    width: 100%;
    max-width: 1100px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    padding-left: 60px;
    padding-right: 60px;

    padding: 50px 0 0 0;

    font-size: 14px;

    background-color: var(--bg);
}

@media (max-width:780px) {
    .content-hard {   
        padding-left: 0px;
        padding-right: 0px;
    }
}

.hero-new {
    width: 100%;
    height: 260px;

    padding: 25px;
    background-color: var(--bg);

    transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: scale(1);

    animation: Smooth-ed 0.5s ease-out;
}

@keyframes Smooth-ed {
    0% {
        opacity: 0;
    }
    100% {transform:scale(1);}
}

@keyframes Smooth-ed-2 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {transform:scale(1);}
}

.item-hero {
    width: 100%;
    height: 100%;

    background: var(--demo);
    box-shadow: var(--shadow-elevation-high);
    border-radius: 30px;

    padding: 14px 15px;

    display: flex;

    justify-content: space-between;
    flex-direction: column;
    font-size: 15px;

    transition: 0.2s ease-out;

    user-select: none;
    cursor: pointer;
}

.item-hero:hover {
    transform: scale(0.98);
}

@media (max-width:780px) {
    .item-hero:hover {
        transform: scale(1);
    }
    
    .item-hero:active {
        transform: scale(0.98);
    }
}

.position-new {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.new {
    width: 54px;

    color:#ffffff;
    background: rgb(0, 0, 0);

    padding: 1px;
    border-radius: 20px;
    text-align: center;

    letter-spacing: 1px;

    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);

    user-select: none;

}

.item-hero:hover .new {
    background: rgb(250, 250, 250);
    color:rgb(0, 0, 0);
}

@media (max-width:780px) {
    .new {
        background: rgb(250, 250, 250);
        color:rgb(0, 0, 0);
    }
}

h1, h2, h3 {
    font-family: 'Palanquin Dark', sans-serif;
}

.title-hero {
    color: white;
    font-family: 'Quicksand', sans-serif;

    padding-bottom: 10px;
}

/* Segundo Cuadro */

.intro {
    width: 100%;
    height: 410px;

    padding: 25px 25px;

    animation: Smooth-ed-2 1.2s ease-out;
}

.position-intro {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 0;
    padding-right: 25px;
}

.link {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;

    color: rgb(19, 121, 216);

    display: flex;
    align-items: center;
}

@media (max-width:780px) {
    .intro {
        padding: 25px 0 0 0;
    }

    .position-intro {
        padding-left: 25px;
    }
}

.carrusel-box {
    width: 100%;
    height: 350px;

    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    gap: 0 18px;

    overflow-x: scroll;

    margin-top: 2px;
    padding-bottom: 10px;
    padding-top: 10px;

    padding-right: 0;

    scroll-snap-type: none;
}

@media (max-width:780px) {
    .carrusel-box {
        padding-left: 25px;
        padding-right: 25px;
        gap: 0 18px;

        /*scroll-snap-type: x proximity;*/
    }
}

.item-intro-1 {
    width: 400px;
    height: 100%;

    background: rgb(255, 255, 255);
    box-shadow: var(--shadow-elevation-high);

    border-radius: 25px;

    transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;

    padding: 14px 15px;

    display: flex;

    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;

    align-items: flex-end;
    user-select: none;

    /*scroll-snap-align: start;*/
    scroll-margin: 0 0 0 25px;
}

.title-item-intro {
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;

    padding-bottom: 10px;
}

.item-intro-1:hover {
    transform: scale(0.98);
}

@media (max-width:780px) {
    .item-intro-1:hover {
        transform: scale(1);
    }
    
    .item-intro-1:active {
        transform: scale(0.98);
    }
}

@media (max-width:780px) {
    .item-intro-1 {
        width: 72vw;
    }
}

.theme-1 {background: var(--demo);}

.theme-1-text {color: rgb(255, 255, 255);}

.theme-2 {background: var(--demo2);}

.theme-2-text {color: rgb(24, 24, 24);}

.theme-3 {background: var(--demo3);}

.theme-3-text {color: rgb(255, 255, 255);}

.intro-about {
    width: 100%;
    height: 400px;

    padding: 25px;

}

/* Tercer Cuadro */

.newest {
    width: 100%;
    height: 100%;

    background: var(--demo);
    border-radius: 30px;
    padding: 25px;

    font-family: 'Quicksand', sans-serif;
    font-size: 15px;

    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-about {
    width: 400px;
}

@media (max-width:780px) {
    .intro-about {
        margin-top: 50px;
        margin-bottom: 25px;
        padding: 0;
    }
    
    .newest {
        border-radius: 0;
    }

    .text-about {
        width: 100%;
    }
    
}

.link-button {
    width: auto;
    height: 40px;

    background-color: #ffffff;
    color: black;
    box-shadow: var(--shadow-elevation-high);

    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(1);

    transition: 0.2s ease-out;

    cursor: pointer;
    user-select: none;
}

.link-button:hover {
    transform: scale(0.97);
}

@media (max-width:780px) {
    .link-button:hover {
        transform: scale(1);
    }
    
    .link-button:active {
        transform: scale(0.97);
    }
}

/* Cuarto Cuadro */

.intro-leng {
    width: 100%;
    height: 225px;

    padding: 25px 25px;

}

@media (max-width:780px) {
    .intro-leng {
        padding: 25px 0 0 0;
    }
}

.carrusel-box-lg {
    width: 100%;
    height: 130px;

    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    gap: 0 10px;

    overflow-x: auto;

    margin-top: 2px;

    padding-bottom: 10px;
    padding-top: 10px;

    padding-right: 0;

    align-items: center;

    scroll-snap-type: x mandatory;
}

.item-box {
    width: 90px;
    height: 100%;

    border-radius: 10px;

    scroll-snap-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    transition: 0.2s ease-out;
}

.item-box:hover {
    background: white;
}

.item-box:active {
    background: white;
}

@media (max-width:780px) {
    .item-box:hover {
    background: none;
    }
    .item-box:active {
        background: white;
    }  
}

.logo-item-box {
    width: 100%;
    height: 60%;
}

.text-item-box {
    width: 100%;
    height: 40%;

    text-align: center;
    font-family: 'Quicksand', sans-serif;
}


@media (max-width:780px) {
    .carrusel-box-lg {
        padding-left: 25px;
        padding-right: 25px;
        gap: 0 10px;
    }
}
