header {
    width: 100%;
    height: 60px;
    position: fixed;

    background-color: black;
    z-index: 3;
}

.header-max {
    width: 100%;
    height: 60px;

    max-width: 1080px;

    display: flex;

    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
}

@media (max-width:780px) {
    header {
        height: 50px;
    }

    .header-max {   
        height: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.logo {
    width: auto;
    height: 60px;

    font-family: 'Josefin Sans', sans-serif;
    color: rgb(185, 185, 185);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    padding-top: 4px;

    transition: 0.2s ease-out;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (max-width:780px) {
    .logo {     
        height: 50px;
    }
}

.logo:hover {
    color: rgb(255, 255, 255);
}

.logo-on {
    color: rgb(255, 255, 255);
}

@media (max-width:780px) {
    
    .logo:hover {
        color: rgb(185, 185, 185);
    }

    .logo:active {
        color: white;
    }
}

.git {
    width: 50px;
    height: 50px;

    display: none;

    background-position: center;
    background-size: 100% 60%;
    background-repeat: no-repeat;
}

.button {
    width: 50px;
    height: 50px;

    cursor: pointer;

    display: none;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    transition: 0.2s ease-out;

    cursor: default;
}

@media (max-width:780px) {
    .button {
        display: flex;
    }

    .git {
        display: block;
    }
}

.bar-1, .bar-2, .bar-3 {
    width: 23px;
    height: 1px;

    border-radius: 20px;

    background: rgb(255, 255, 255);
    transition: 0.2s ease-out;
    transform: scale(1);
}

.bar1-on {
    position: fixed;
    transform: rotate(0.38turn);
}

.bar2-on {
    transform: scale(0,0);
}

.bar3-on {
    position: fixed;
    transform: rotate(-0.38turn);
}

.button:active .bar-1 {
    background: var(--header-hover);
}

.button:active .bar-2 {
    background: var(--header-hover);
}

.button:active .bar-3 {
    background: var(--header-hover);
}


/*

Todo el contenido que esta dentro de ello solamente aparecera cuando la pantalla del telefono
asi que, en ello no se va ver nada en monitor...

habra bugs

*/

.Menu-Full, .redes-sociales {
    display: none;
}

@media (max-width:780px) {
    .Menu-Full {
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
    
        position: fixed;
    
        background: black;
    
        transform: translateY(-100%);
        transition: 0.35s cubic-bezier(1, 0.04, 0.36, 1);
    
        z-index: 2;
    }
    
    .Menu-Full-on {
        transform: translateY(0);
    } 

    .menu-grid {
        width: 100%;
        height: 400px;
    
        padding: 80px 30px 30px 30px;
    
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .menu-grid-link {
        color: rgb(185, 185, 185);
        font-family: 'Palanquin Dark', sans-serif;
    
        width: 100%;
        height: 65px;
    
        font-size: 35px;
    
        display: flex;
        align-items: center;
        justify-content:flex-start;
    
        transition: 0.2s ease-out;

        opacity: 0;
    }
    
    .menu-grid-link:active {
        color: white;
    }
    
    .menu-grid-smooth {
        animation: Smooth-menu-ed 0.752s forwards;
    }
    
    @keyframes Smooth-menu-ed {
        0% {
            opacity: 0;
            transform: translateX(50px) scale(1);
        }
    
        60% {
            opacity: 0;
            transform: translateX(50px) scale(1);
        }
    
        100% {
            opacity: 1;
            transform:scale(1);
        }
    }
    
    .credits {
        width: 100%;
        height: 100%;
    
        padding: 30px;
    
        font-family: 'Quicksand', sans-serif;
        color:white;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        transition: 0.2s ease-out;
        opacity: 0;

        text-align: center;
    }
    
    .credits-smooth {
        animation: Smooth-credits-ed 0.752s ease-out forwards;
    }
    
    @keyframes Smooth-credits-ed {
        0% {
            opacity: 0;
        }
    
        60% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    .redes-sociales {
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 10px;
        margin-bottom: 25px;
    }

    .imp {
        width: 50px;
        height: 50px;

        background-position: center;
        background-size: 100% 60%;
        background-repeat: no-repeat;
    }
    
}

.menu-desk {
    width: 300px;

    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 25px;
}

.menu-desk-link {
    color: rgb(185, 185, 185);
    font-family: 'Palanquin Dark', sans-serif;
    transition: 0.2s ease-out;
}

.menu-desk-link:hover {
    color: white;
}

@media (max-width:780px) {
    .menu-desk {
        display: none;
    }
}

/* FASE DE DESARROLLO */
.logointro {
    width: 100%;
    height: 100%;
    position: fixed;

    z-index: 5;

    background: black;

    animation: Pesao 1.45s ease-out forwards;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 50px;

    pointer-events: none;

}

@keyframes Pesao {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.Pop {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    display: flex;

    pointer-events: none;
    opacity: 0;

    z-index: 4;
    transition: 0.3s ease-out;
}

.Pop-out {
    pointer-events:all;
    opacity: 1;
}

.Pop-center {
    margin-bottom: 10px;
    text-align: center;
}

.Pop-text {
    font-family: 'Quicksand', sans-serif;
}

.Pop-center-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.Ability {
    width: 100%;
    height: 20px;

    padding: 3px;
    background-color: rgb(209, 209, 209);
    border-radius: 20px;
}

.Status {
    height: 100%;

    background-color: black;
    border-radius: 20px;
}

.St-VS {width: 75%;}
.St-Git {width: 44%;}
.St-Fig {width: 65%;}
.St-HTML {width: 90%;}
.St-CSS {width: 65%;}
.St-JS {width: 25%;}
.St-PY {width: 38%;}
.St-SQL {width: 48%;}

.Status-Animated {
    animation: Status 0.3s ease-out;
}

@keyframes Status {
    0% { width: 0%;}
    100% {}
}

.Pop-VS, .Pop-Git, .Pop-Fig, .Pop-HTML, .Pop-CSS, .Pop-JS, .Pop-PY, .Pop-SQL {
    width: 50vw;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    background-color: azure;

    display: flex;
    position: fixed;

    bottom: 0;
    border-radius: 20px 20px;

    z-index: 5;

    transform: translate(25vw,0);
    opacity: 0;
    transition: 0.175s ease-out;

    padding: 25px;
    flex-direction: column;
    pointer-events: none;
}

.Pop-VS-Out {
    transform: translate(25vw,-50px);
    opacity: 1;
    pointer-events: all;
}

.Pop-Git-Out {
    transform: translate(25vw,-50px);
    opacity: 1;
    pointer-events: all;
}

.Pop-Fig-Out {
    transform: translate(25vw,-50px);
    opacity: 1;
    pointer-events: all;
}

.Pop-HTML-Out {
    transform: translate(25vw,-50px);
    opacity: 1;
    pointer-events: all;
}

.Pop-CSS-Out {
    transform: translate(25vw,-50px);
    opacity: 1;
    pointer-events: all;
}

.Pop-JS-Out {
    transform: translate(25vw,-50px);
    opacity: 1;
    pointer-events: all;
}

.Pop-PY-Out {
    transform: translate(25vw,-50px);
    opacity: 1;
    pointer-events: all;
}

.Pop-SQL-Out {
    transform: translate(25vw,-50px);
    opacity: 1;
    pointer-events: all;
}

@media (max-width:780px) {
    .Pop-VS, .Pop-Git, .Pop-Fig, .Pop-HTML, .Pop-CSS, .Pop-JS, .Pop-PY, .Pop-SQL {
        width: 100%;
        height: auto;

        bottom: 0;
        border-radius: 20px 20px 0 0;
        padding: 25px 25px 50px 25px;

        transform: translate(0,300px);
    }

    .Pop-VS-Out {
        transform: translate(0,0);
        opacity: 1;
    }
    
    .Pop-Git-Out {
        transform: translate(0,0);
        opacity: 1;
    }

    .Pop-Fig-Out {
        transform: translate(0,0);
        opacity: 1;
    }

    .Pop-HTML-Out {
        transform: translate(0,0);
        opacity: 1;
    }

    .Pop-CSS-Out {
        transform: translate(0,0);
        opacity: 1;
    }

    .Pop-JS-Out {
        transform: translate(0,0);
        opacity: 1;
    }
    
    .Pop-PY-Out {
        transform: translate(0,0);
        opacity: 1;
    }

    .Pop-SQL-Out {
        transform: translate(0,0);
        opacity: 1;
    }


}